<h3>Telemetry</h3>
<mat-checkbox class="checkbox-margin" [(ngModel)]="isAutoRefreshEnabled">Автообновление</mat-checkbox>
<mat-form-field>
  <mat-select [(value)]="autoRefreshPeriod" (selectionChange)="onPeriodChanged($event.value)" >
    <mat-option *ngFor="let period of periods" [value]="period">
      {{period}}s
    </mat-option>
  </mat-select>
</mat-form-field>
<button mat-raised-button (click)="openDialog()">Типы</button>

<div>
    <div
      fxLayout="row wrap" fxLayoutAlign="flex-start">
    <table mat-table [dataSource]="stats$" class="mat-elevation-z8" fxFlex="30%">

        <ng-container matColumnDef="userName">
          <th mat-header-cell *matHeaderCellDef> Имя узла </th>
          <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
        </ng-container>

        <ng-container matColumnDef="lastUpdatedAt">
          <th mat-header-cell *matHeaderCellDef> Дата последней статистики </th>
          <td mat-cell *matCellDef="let element"> {{element.lastUpdatedAt | date:'dd/M/yyyy hh:mm:ss'}} </td>
        </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click) = "setId(row)" [ngClass]="{highlight : selectedId == row.id}"></tr>

    </table>
    <div fxFlex="70%">
      <router-outlet ></router-outlet>
    </div>
  </div>
